html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Fira Code', monospace;
    background-color: rgb(16, 20, 18);
    color: #008000;
    width: 90%;
    margin: auto;
}
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    height: 100px;
}
.nav a{
    text-decoration: none;
    color: #008000;
    position: relative;
}

.nav a:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    height: 0.08rem;
    width: 100%;
    background-color: green;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
}

.nav a:hover:after {
    transform-origin: left;
    transform: scaleX(1);
}



.title {
    text-align: center;
    margin: 0 auto 60px auto;
}

#separation {
    width: 75%;
    margin: 70px auto;
    height: 2px;
    background-color: #008000;
    border-radius: 0 0 50% 50%;
}


#home {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.homeTextContainer {
    width: 30%;
}

.homeImgContainer {
    width: 350px;
    height: 350px;
    border: 1px solid green;
    border-radius: 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.homeImgContainer img {
    width: 100%;
    height: 100%;
    border-radius: 45px;
}

.cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
}

.card {
    width: 400px;
    border: 1px solid green;
    border-radius: 50px;
    position: relative;
    text-align: center;
    -webkit-box-shadow: 0px 0px 45px 15px rgba(77, 121, 77, 0.77);
    -moz-box-shadow: 0px 0px 45px 15px rgba(0,128,0,0.77);
    box-shadow: 0px 0px 45px 15px rgba(0,128,0,0.77);
}

.card img {
    width: 90%;
    border-radius: 10px;
    transform: translateY(-10%);
    transition: 0.3s ease-in-out;
}
.card img:hover {
    transform: scale(1.2);
}
.card h3 {
    margin-bottom: 0;
}
.cardTechnology {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 60px;
    gap: 15px;
    margin: 25px 10px;
}
.cardTechnology p {
    border: 1px solid green;
    margin: 0;
}

#contact {
    padding: 0 0 20px 0;
}
.contactContainer {
    display: flex;
    justify-content: space-evenly;
    align-items:baseline;
}
.logoContactContainer {
    padding: 10px 150px;
    border: 1px solid green;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.logoContactContainer:hover {
    transform: scale(1.2);
}

.linkToRepo {
    text-decoration: none;
    color: #008000;
}

@media (min-width: 889px) and (max-width:1333px) {
    #home {
        justify-content: space-around;
    }
    .homeTextContainer {
        width: 45%;
    }
    .logoContactContainer {
        padding: 10px 100px;
    }
}
@media (min-width: 426px) and (max-width:888px) {
    #home {
        justify-content: space-around;
    }
    .homeTextContainer {
        width: 50%;
    }
    .homeImgContainer {
        width: 250px;
        height: 250px;
    }
    .contactContainer {
        flex-direction: column;
        gap: 20px;
        height: fit-content;
        align-items: center;
    }
    .logoContactContainer {
        padding: 10px 30%;
    }
}
@media (min-width: 320px) and (max-width:425px) {
    #home {
        flex-direction: column;
    }
    .homeTextContainer {
        width: 100%;
    }
    .homeImgContainer {
        width: 250px;
        height: 250px;
    }
    .contactContainer {
        flex-direction: column;
        gap: 20px;
        height: fit-content;
        align-items: center;
    }
    .logoContactContainer {
        padding: 10px 30%;
    }
}